# ignore __pycache__
__pycache__/*

# ignore .idea
.idea/*

# skip currently unneeded files/directories
test_suite.py
modify_save.py
fixes.txt
notes.txt
launch_debug.sh

# ignore save_files
save_files/*
backup_saves/*
